*{
    position: relative;
}

.text-main {
    color: #ECE3E0 !important;
}

.btn-main {
    background-color: #9F3D5F;
    color: #ECE3E0;
}

.btn-main:hover {
    background-color: #E65133;
}
#speakers{
    justify-content: center;
    align-items: center;
    display: flex;
}
#footer {
    background: #9F3D5F;
    padding: 1.5rem .5rem;
}

#footer a {
    color: #ECE3E0;
}

#footer a:hover {
    cursor: pointer;
}

#header{
    background-color: #9F3D5F;
    color: #2E2826;
}

#header img {
    width: 12rem;
}

#main .carousel-inner img {
    max-height: 70rem;
    object-fit: cover;
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FAFAF8;
}

#carousel img{
    height: 32rem;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

#CECyT-9-extra{
    border-radius: 2rem;
}