.text-main {
    color: #9a3f62
}

.btn-main {
    background-color: #9a3f62;
    color: white;
}

.btn-main:hover {
    background-color: #9a3f62;
}

#footer {
    background: #9a3f62;
    padding: 1.5rem .5rem;
}

#footer a {
    color: white;
}

#footer a:hover {
    cursor: pointer;
}

#header img {
    width: 75px;
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(45%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

#placetime img {
    max-width: 100%;
}

#placetime {
    background-color: #353A40;
    color: white;
}