* {
  position: relative;
}
.btn-main {
  background-color: #9f3d5f;
  color: #ece3e0;
}

.btn-main:hover {
  background-color: #e65133;
}

#speakers {
  justify-content: center;
  align-items: center;
  display: flex;
}

#footer {
  background: #9f3d5f;
  padding: 1.5rem 0.5rem;
}

#footer a {
  color: #ece3e0;
}

#footer a:hover {
  cursor: pointer;
}

#header {
  background-color: #9f3d5f;
  color: #2e2826;
}

#header img {
  width: 12rem;
}

#main .carousel-inner img {
  max-height: 70rem;
  object-fit: cover;
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fafaf8;
}

#carousel img {
  height: 32rem;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#CECyT-9-extra {
  border-radius: 2rem;
}
