html {
    box-sizing: border-box;
    min-height: 100%;
    font-size: 82%;
  }
 
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    color: #ffffff;
    background-color: #000000; 
    background-attachment: fixed;
    background-size: cover;
  }
  header,
  nav{
    text-align: center;
  }
  span{
    font-style: italic;
    color: #79bb0e;
  }
  #lista-p,
  #lista-d{
    list-style: none;
  }
  .container {
    width: 95%;
    max-width: 150rem;
    margin: 0 auto;
    
  }
  .problema-title {
    text-align: center;
  }
  h1 {
    font-size: 4rem;
    color: #e04d4d;
  }
  h2 {
    font-size: 2.5rem;
    color: #e04d4d;
    font-style: italic;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 0.5rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  button {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #4209e0;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    height: 2.5rem;
  }
  button:hover {
    color: rgba(199, 201, 228, 0.849);
  }
  input {
    margin: .8rem;
    color:#ffffff;
    font-size: 1.6rem;
    font-style: italic;
    border-radius: 0.5rem;
    height: 2.5rem;
    text-align: center;
  }
  input:hover {
    color: rgb(39, 52, 243);
  }
  
  .problema-container {
    text-align: justify;
    margin-bottom: 2rem;
  }
  .problema-content,
  .problema-output {
    margin: 0 auto;
    text-align: center;
  }
  .problema-input {
    width: 28rem;
    border: 1.5px solid rgb(255, 255, 255);
    background-color: transparent;
    align-items: center;
  }
  
  .problema-output {
    width: 90%;
    color: rgb(174, 252, 150);
    font-family: monospace;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  
  a:hover {
    color: rgb(50, 93, 233);
  }
  